<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User-info</title>
</head>
<body>
    <div>
        <form action="/read-users-info" method="post">
            <label for = "user-name">user name: </label>
            <input type="text"  id="user-name" name="username"> <br>
            <label for = "user-password">user password : </label>
            <input type="password"  id="user-password" name="userpassword"><br>
            <label for = "user-age">user age: </label>
            <input type="text"  id="user-age" name="userage"><br>
            <input type="submit" value="저장">
        </form>
    </div>
</body>
</html>