<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Names</title>
</head>
<body>
    <h1>Name</h1>
    <ul>
<!--        <li>Alex</li>-->
<!--        <li>Brad</li>-->
<!--        <li>Chad</li>-->
        <li th:each="name : ${names}">
            [[${name}]]
        </li>
    </ul>


    <div>
        <h3 th:each = "student : ${students}">
            Name: [[${student.getName()}]] <br>Email: [[${student.getEmail()}]] </h3>
    </div>
<!--    <div th:each = "student : ${students}">-->
<!--        <h3>Name: [[${student.name}]]</h3>-->
<!--        <h3>Email: [[${student.email}]]</h3>-->
<!--    </div>-->
</body>
</html>